<div class="container">
  <h2 class="heading heading-sec heading-sec__mb-bg">
    <span class="heading-sec__main">Projects</span>
    <span class="heading-sec__sub">
      Here you will find some of the personal and clients projects that I
      created with each project containing its own live link.
    </span>
  </h2>

  <div class="projects__content">
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="../../../assets/img/finmart.png"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Tsunami Predicition</h3>
        <p class="projects__row-content-desc">
          This proejct is based on deep learning where we can predict the occurance of tsunami near costal region through the algorithms that provided in deep learning like random-forest,etc.
        </p>
        <div class="btn">
          <button mat-raised-button>Live Link</button>
        </div>
      </div>
    </div>
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="../../../assets/img/finmart.png"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Chat Application</h3>
        <p class="projects__row-content-desc">
          This project is based on online chat application which is build with the help of socket programming in java.This project tells us how the communiaction is established between server and client as well as how they interact with each other.
        </p>
        <div class="btn">
          <button mat-raised-button>
            <a href="https://finmart.ae"></a>Live Link
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="../../../assets/img/joefolio.jpeg"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Joefolio</h3>
        <p class="projects__row-content-desc">
          Petropolis is a multiservice logistics and transport company and I
          created their website from scratch using the frontend tools I know.
        </p>
        <div class="btn">
          <button mat-raised-button>Live Link</button>
        </div>
      </div>
    </div> -->
    <!-- <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="../../../assets/img/finmart.png"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Biraniyum</h3>
        <p class="projects__row-content-desc">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci,
          assumenda molestias placeat similique illum quisquam doloribus.
          Voluptate quasi dolores similique.
        </p>
        <div class="btn">
          <button mat-raised-button>Live Link</button>
        </div>
      </div>
    </div> -->
  </div>
</div>
